
body {
    background: linear-gradient(to bottom, rgb(190, 34, 198), #e4e4e4);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
  }
  
  form {
    margin: 50px auto;
  }
  input,
  select {
    margin-bottom: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e4e4e4c5;
    transition: all 0.3s ease;
  }
  input:focus,
  input:hover,
  select:focus,
  select:hover {
    background-color: #e4e4e4;
    color: black;
    outline: 1px solid black;
  }
  input[type="submit"] {
    display: block;
    margin: 40px auto;
    color: black;
    background: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  input[type="submit"]:hover {
    background: rgb(0, 0, 84);
    color: white;
  }
  #confirmation {
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
  }
  #information {
    font-weight: 600;
    text-align: justify;
    margin-inline: auto;
    color: black;
    line-height: 4em;
  }
  #confirmation button {
    display: block;
    margin: 40px auto;
    color: black;
    background: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #confirmation button:hover {
    background: rgb(0, 0, 84);
    color: white;
  }
  